<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>warm-up project#1</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<form action="/eliza" method="post">
    <label>Name: </label>
	<input type="text" name="name">
	<button type="submit">submit</button>
</form>
<% if(typeof name !== 'undefined' ) { %>
<h2>Hello <%=name%>, <%=date%></h2>
<form>
    <label>Human: </label>
    <input type="text" name="name" id="name-text">
    <button type="button" id="submit-btn">submit</button><br>
    <textarea class="form-control" rows="10" id="result-area"></textarea>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
    $('#submit-btn').click(function () {
        $.ajax({
            url: '/eliza/DOCTOR',
            type: 'post',
            data: JSON.stringify({human: $('#name-text').val()}),
            contentType: "application/json; charset=utf-8",
            dataType: 'json'
        }).done(function (result) {
            var area = $("#result-area");
            area.val( area.val() + "\n\nEliza: " + result.eliza);
            if(area.length)
                area.scrollTop(area[0].scrollHeight - area.height());
        }).fail(function (err) {
            console.error(err);
        });
    });
</script>
<% } %>
</body>
</html>
