<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A Twitter clone developed by Mingchen Zhang and Haozhi Qu">
    <meta name="author" content="Mingchen Zhang and Haozhi Qu">
	<title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/materialize-clockpicker/dist/css/materialize.clockpicker.css">
    <link rel="stylesheet" type="text/css" href="static/css/user.css">
</head>


<body>

<nav id="top-nav" class="noShadow">
<div class="nav-wrapper container">
	<a href="#" class="nav-logo">Test</a>
	<ul class="right">
	<li><button class="btn blue darken-1" type="button" id="logout-btn">logout</button></li>
	</ul>
</div>
</nav>

<center>
<section class="top-section">
	<i class="photo material-icons">face</i>
	<div id="name"><%=username%></div>
</section>

<ul class="tabs">
<li class="tab"><a target="_self" href="/user" class="active">Tweets</a></li>
<li class="tab"><a target="_self" href="/following">Following | Followers</a></li>
<li class="tab"><a target="_self" href="/manage">Find | Follow</a></li>
</ul>


<div id="tweets" class="col s12">
<div class="container row">
<div class="col s12 m5 l4">
	<div class="content-left"><center>

	<ul class="collapsible" data-collapsible="expandable">
	<li>
	<div class="collapsible-header z-depth-3 active"><i class="material-icons">chevron_right</i>Post New Tweets</div>
	<div class="collapsible-body">
		<textarea id="textarea1" placeholder="Post a New Tweet..."></textarea>
		<div><button class="btn blue darken-1" type="button" id="tweet-btn">Submit</button></div>
	</div>
	</li>
	<li>
	<div class="collapsible-header z-depth-3"><i class="material-icons">chevron_right</i>Search Tweets</div>
	<div class="collapsible-body">
		<table>
	    <tr><td>Date: </td><td><input type="date" id="dpicker" class="datepicker"></td></tr>
	    <tr><td>Time: </td><td><input type="time" id="tpicker" class="timepicker" step="1"></td></tr>
	    <tr><td># of tweets: </td><td><input type="number" id="npicker" name="quantity" min="1" max="100" value="25"></td></tr>
	    <tr><td>Query: </td><td><input type="text" id="querypicker"></td></tr>
	    <tr><td>Username: </td><td><input type="text" id="usernamepicker"></td></tr>
	    </table>
	    <div><input type="checkbox" class="filled-in" id="following-checkbox"/><label for="following-checkbox" id="following-label">Following Only</label></div><!--  checked="checked" -->
		<button class="btn blue darken-1" type="button" id="search-btn">Submit</button>
	</div>
	</li>
	<li>
	<div class="collapsible-header z-depth-3"><i class="material-icons">chevron_right</i>Find Tweet By ID</div>
	<div class="collapsible-body">
		<table>
	    <tr><td>Tweet ID: </td><td><input type="text" id="itemid"></td></tr>
	    </table>
		<button class="btn blue darken-1" type="button" id="search2-btn">Submit</button>
	</div>
	</li>
	<li>
	<div class="collapsible-header z-depth-3"><i class="material-icons">chevron_right</i>Delete Tweet By ID</div>
	<div class="collapsible-body">
		<table>
	    <tr><td>Tweet ID: </td><td><input type="text" id="itemiddelete"></td></tr>
	    </table>
		<button class="btn blue darken-1" type="button" id="deletebyid-btn">Submit</button>
	</div>
	</li>
	</ul>

	</center></div>
</div>

<div class="col s12 m7 l8">
	<div class="content-right"><center>
	<ul id="tweet-collection" class="collection">
	</ul>
	</center></div>
</div>
</div>
<button class="btn blue darken-1" type="button" id="loadmore-btn">Load More</button>
</div>

</center>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="static/javascript/user.js"></script>
<script src="static/javascript/tweets.js"></script>
<script src="static/materialize-clockpicker/dist/js/materialize.clockpicker.js"></script>
</body>
</html>