/*
 *CSS stylesheet for the Twitter clone
 *Authors: Mingchen Zhang and Haozhi Qu
 */
html,body{
	height: 100%;
	width: 100%;
}
body{
	background: #EFEFEF;
}
body,td,tr,textarea{
	padding: 0;
	margin: 0;
}
nav#top-nav,.top-section,ul.tabs{
	background: #1565c0;
}
nav#top-nav{
	position: fixed;
	z-index: 1;
}
.noShadow{
	box-shadow: none;
}
.nav-logo{
	font-size: 26px;
	font-family: 'Fira Sans';
}
.top-section{
	padding-top: 64px;
}
@media only screen and (max-width: 600px){
.top-section{
	padding-top: 56px;
}
}
.photo{
	padding: 12px 15px 12px 15px;
	border: 6px solid #e6e6e6;
	border-radius: 7px;
	background: #a6a6a6;
	color: white;
	font-size: 70px;
}
#name{
	color: white;
	font-size: 22px;
	font-weight: bold;
	padding: 7px 0px 10px 0px;
}
.tabs .tab a{
	color: rgba(255,255,255,0.7);
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: white;
}
.tabs .tab a.active{
	font-weight: bold;
}
.tabs .indicator{
	background: white;
}
button.btn{
	width: 130px;
	height: 35px;
	font-size: 10px;
	background: #1E88E5;
}
button.btn:hover{
	background: #1879cd !important;
}


.picker__date-display{
	background-color: #1E88E5;
}
.picker__weekday-display{
	background-color: #1565c0;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color: #1E88E5;
}
.picker__day.picker__day--today{
	color: #1E88E5;
}
.picker__close, .picker__today{
	color: #1E88E5;
}
.picker__box {
	border-top-color: #1565c0;
}
.picker__nav--prev:hover, .picker__nav--next:hover{
	background: #76b7ef;
}

::-webkit-input-placeholder{
    color: #737373;
}
:-moz-placeholder{
    color: #737373;
}
::-moz-placeholder{
    color: #737373;
}
:-ms-input-placeholder{
    color: #737373;
}
input[type=date]:focus,input[type=time]:focus,input[type=number]:focus,input[type=text]:focus,input[type=password]:focus{
	border-bottom: 1px solid #039be5 !important;
	box-shadow: 0 1px 0 0 #039be5 !important;
}
#following-checkbox[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #039be5;
     background-color: #039be5;
}
/*.nav-wrapper form{
	display: inline-block;
}*/
/*table{
	width: 300px;
}*/
/*input[type=text],input[type=password]{
	border-bottom: 1px solid #e0e0e0 !important;
	margin-bottom: 15px !important;
}
input[type=text]:focus,input[type=password]:focus{
	border-bottom: 1px solid #039be5 !important;
	box-shadow: 0 1px 0 0 #039be5 !important;
}
*/
/*
.picker__holder::-webkit-scrollbar { 
    display: none; 
}*/


#loadmore-btn{
	width: 160px;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	margin: 0px 0px 20px 0px;
	display: none;
}
.content-left{
	float: right;
}
.content-right{
	width: 100%;
	float: left;
}


ul.collapsible, .collapsible-body{
	padding: 0px;
	margin: 0px;
	border: 0px;
	box-shadow: none;
}
.collapsible-header{
	border: 0px;
	background: #1565c0;
	color: white;
	width: 310px;
	text-align: left;
	margin: 0px 0px 3px 0px;
}
@media only screen and (max-width: 600px){
.collapsible-header{
	width: 100%;
}
}
ul.collapsible{
	margin: 20px 0px 0px 0px;
}
ul.collapsible .btn{
	margin: 0px 0px 15px 0px;
}

#following-label{
	margin: 15px 0px 20px 0px;
	color: rgba(0,0,0,0.87);
}

.content-left textarea{
	background: white;
	margin: 15px 0px 7px 0px;
	border: 2px solid #e0e0e0 !important;
	border-radius: 3px;
	width: 310px;
	height: 70px;
	resize: none;
	outline: none;
}
.content-left textarea:focus{
	border: 2px solid #e0e0e0 !important;
	box-shadow: none !important;
}
@media only screen and (max-width: 992px){
.content-left textarea{
	width: 240px;
	height: 60px;
}
#tweets .container{
	width: 95%;
}
}
@media only screen and (max-width: 600px){
.content-left textarea{
	width: 280px;
	height: 65px;
}
.content-right,.content-left{
	float: none;
}
#tweets .container{
	width: 100%;
}
}

.collection{
	border: 0px;
	margin: 15px 0px 0px 0px;
	width: 100%;
	text-align: left;
}
.collection-item{
	width: 100%;
	margin-bottom: 10px !important;
}
.secondary-content{
	color: rgba(0,0,0,0.87);
	top: 9px !important;
}



.card{
	color: white;
	margin: 20px 0px 0px 0px;
}
.card .card-content{
    padding: 15px;
}
.card-image{
	background: #a6a6a6;
}
.photo2{
	padding: 12px 15px 12px 15px;
	color: white;
	font-size: 60px;
}
.follow-collection .collection-item.avatar i.circle{
	font-size: 30px;
	line-height: 54px;
	width: 54px;
    height: 54px;
    border-radius: 5%;
}
.follow-collection .title{
	line-height: 54px;
	font-size: 16px;
	font-weight: bold;
}
.follow-collection .collection-item.avatar {
    min-height: 74px;
    padding-left: 85px;
}
.follow-collection .btn{
	margin-top: 7px;
	height: 40px;
	width: 95px;
	color: white;
	box-shadow: none;
	padding: 0;
}
.follow-collection .collection-item{
	display: inline-block;
	text-align: left;
	width: 45%;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.hiden-item{
	visibility: hidden;
}
.follow-collection{
	text-align: center;
}
@media only screen and (max-width: 600px){
}
@media only screen and (max-width: 992px){
.follow-collection .collection-item{
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
}



ul.tabs2,.tab2{
	margin: 17px 0 0 0;
	background: #EFEFEF;
}
.tabs2 .tab2 a{
	color: rgba(115, 115, 115,0.7);
	font-size: 17px;
}
.tabs2 .tab2 a:hover, .tabs2 .tab2 a.active{
    color: #1565c0;
}
.tabs2 .tab2 a.active{
	font-weight: bold;
}
.tabs2 .indicator{
	background: #EFEFEF;
}


.follow-limit{
	margin: 0 5px 0 0 !important;
	width: 45px !important;
}
#limit-btn{
	font-size: 10px;
	width: 58px;
	padding: 0;
}
.limit-container{
	text-align: right;
	width: 90%;
}
@media only screen and (max-width: 600px){
.limit-container{
	width: 100%;
}
}
@media only screen and (max-width: 992px){
.limit-container{
	width: 100%;
}
}