/*
 *CSS stylesheet for the Twitter clone
 *Authors: Mingchen Zhang and Haozhi Qu
 */
html,body{
	height: 100%;
	width: 100%;
}
body{
	background: #EFEFEF;
}
body,td,tr,textarea{
	padding: 0;
	margin: 0;
}
nav#top-nav,.top-section,ul.tabs{
	background: #1565c0;
}
nav#top-nav{
	position: fixed;
	z-index: 1;
}
.noShadow{
	box-shadow: none;
}
.nav-logo{
	font-size: 28px;
	font-family: 'Fira Sans';
}
.top-section{
	padding-top: 64px;
}
@media only screen and (max-width: 600px){
.top-section{
	padding-top: 56px;
}
}
.photo{
	padding: 12px 15px 12px 15px;
	border: 6px solid #e6e6e6;
	border-radius: 7px;
	background: #a6a6a6;
	color: white;
	font-size: 70px;
}
#name{
	color: white;
	font-size: 22px;
	font-weight: bold;
	padding: 7px 0px 10px 0px;
}
.tabs .tab a{
	color: rgba(255,255,255,0.7);
}
.tabs .tab a:hover, .tabs .tab a.active{
    color: white;
}
.tabs .tab a.active{
	font-weight: bold;
}
.tabs .indicator{
	background: white;
}
button.btn{
	width: 130px;
	height: 35px;
	font-size: 10px;
	background: #1E88E5;
}
button.btn:hover{
	background: #1879cd !important;
}
.content-left{
	float: right;
}
.content-right{
	width: 100%;
	float: left;
}
.content-left textarea{
	background: white;
	margin: 25px 0px 7px 0px;
	border: 2px solid #e0e0e0 !important;
	border-radius: 3px;
	width: 310px;
	height: 70px;
	resize: none;
	outline: none;
}
.content-left textarea:focus{
	border: 2px solid #e0e0e0 !important;
	box-shadow: none !important;
}
@media only screen and (max-width: 992px){
.content-left textarea{
	width: 240px;
	height: 60px;
}
#tweets .container{
	width: 95%;
}
}
@media only screen and (max-width: 600px){
.content-left textarea{
	width: 280px;
	height: 65px;
}
.content-right,.content-left{
	float: none;
}
#tweets .container{
	width: 100%;
}
}


.collection{
	border: 0px;
	margin: 20px 0px 0px 0px;
	width: 100%;
	text-align: left;
}
.collection-item{
	width: 100%;
	margin-bottom: 10px !important;
}

/*.nav-wrapper form{
	display: inline-block;
}*/
/*table{
	width: 300px;
}*/
/*input[type=text],input[type=password]{
	border-bottom: 1px solid #e0e0e0 !important;
	margin-bottom: 15px !important;
}
input[type=text]:focus,input[type=password]:focus{
	border-bottom: 1px solid #039be5 !important;
	box-shadow: 0 1px 0 0 #039be5 !important;
}
*/